body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://scontent.fkhi17-1.fna.fbcdn.net/v/t39.30808-6/253047461_10159697473238945_6826171000821219777_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFHUlTh7D2h0t-WIoZdzVftyV85rxTZdp_JXzmvFNl2n_uZ-F3bE4oL3yC-JnEy2OzqDzCVMpaAOKHFWtaRBY3q&_nc_ohc=UprxiLtGWEEQ7kNvgFTGC4x&_nc_ht=scontent.fkhi17-1.fna&oh=00_AYDfhYjxa-30PsfvDJzMfyvePUk5_mlc-v02Ls_ktRl6Aw&oe=668E2364');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: #b30000;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 5px;
    padding: 10px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
    border-bottom: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #b30000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
