body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: #b30000;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 5px;
    padding: 10px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
    border-bottom: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #b30000;
}
