body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://i.ibb.co/7jgRKYm/IMG-20240710-WA0051.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.no-bg {
    background-image: none;
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    background-color: #0f018c;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    font-size: 28px;
    font-weight: 800;
    color: #0f018c;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
}

.list-group-item:last-child {
    border-bottom: none;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #0f018c;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

#loading {
    margin-top: 20px;
    display: none;
}

#floating-names {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 1s ease-in-out, moveToFront 1s ease-in-out;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 1px white;
}

#next-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes moveToFront {
    from { transform: translateY(50px); }
    to { transform: translateY(0); }
}
